
{% extends 'rookieplays/base.html' %}

{% block content %}

<p>RookiePlay lets your resume speak for itself</p>
{% if url %}
  <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  
</form>
<p>Job Title Recommendations: </p>
<ol>
{% for rec in recommendations %}
  <li>{{rec}}</li>
  <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
<label for="choice{{ forloop.counter }}">{{ rec }}</label><br>
{% endfor %}
</ol>
{% endif %}
<h3>This is recs.html</h3>

{% endblock %}
