
{% extends 'rookieplays/base.html' %}

{% block content %}

<p>RookiePlay lets your resume speak for itself</p>
<h2>Upload a resume or cover letter.</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="document">
  <button type="submit">Upload & Analyze</button>
{% if url %}
  <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>


<p>Job Title Recommendations: </p>
<ol>
{% for rec in recommendations %}
  <li>{{rec}}</li>
{% endfor %}
</ol>

<a href=""><button type="button" class="btn btn-primary" id="refresh">refresh page</button></a>
{% endif %}
</form>
<h3>This is upload.html</h3>



{% endblock %}
